# LangChain
langchain
langchain-core
langchain-openai


# LangGraph
langgraph


# RAG
langchain-community
langchain-huggingface
chromadb
sentence-transformers


# API
fastapi
uvicorn


# UI
streamlit


# Config
python-dotenv


# Utils
pydantic
rich


# Test
pytest